<div class="span7 offset2">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <div class="products_class">
          <div class="span2 offset2">
          <h2><%= link_to "Products", admin_products_path %></h2>
          </div>
        </div>

    </div>
  </div>
</div>
</div>