<div class="row">
  <div class="code span14 offset 13"><h2>Manage Products</h2></div>
</div>
<br>
<div>
  <%= form_tag  :method => :get, :html => { :class => "form-horizontal"} do %>

      <br>
      <br>
      <br>
      <table  class="table table-hover">
        <tr>
         <th>PRODUCTS</th>
          <th>ACTIONS</th>
        </tr>
        <% @products.each do |product| %>
            <tr>

              <td>
                <div class="control-group">
                  <%= product.name %>
                </div>
              </td>
              <td>
                <div class="control-group">
                  <span><%= link_to "edit" %></span>

                  <span><%= link_to "delete" %></span>
                </div>
              </td>
            </tr>
        <%end %>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </table>
  <%end%>
</div>