<div class="row">
  <div class="code span14 offset 13"><h2>Line Items</h2></div>
</div>
<br>

<div>

  <table  class="table table-hover">
    <tr>
      <th>LINE ITEMS</th>
      <th></th>
    </tr>
    <% #@line_items.each do |line_items| %>


        <tr>
          <td>
            <div class="control-group">

            </div>
          </td>
          <td>
            <div class="control-group">
              <%#= line_items.subtotal %>
            </div>
          </td>
          <td>
            <div class="control-group">
              <%#= product.price %>
            </div>
          </td>
          <td>

          </td>
          <td>
            <div class="control-group">
              <span></span>


            </div>
          </td>
        </tr>



    <%# end %>
    <tr></tr>
    <tr></tr>
  </table>

</div>